*{
    margin: 0px;
    padding: 0px;
}
.obox{
    border: solid 1px;
    height: 150px;
    display: flex;
}
#inbox1,#inbox2{
    border: solid 1px;
    height: 150px;
}
#inbox1{
    width: 150px;
}
#inbox2{
    width: 1800px;
    text-align: center;
}
#clgname{
    font-size: 55px;
    color: crimson;
}
#scrollclg{
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
}
#navbox{
    border: solid 1px;
    height: 50px;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 205px;
    float: left;
    text-align: center;
    line-height: 49px;
    background-color: #66b4e9;
    margin-right: 1px;
    margin-bottom: 1px;
    border-radius: 10px;
}
ul{
    list-style: none;
}
ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
ul li ul li{
    display:none
}
ul li:hover ul li{
    display:block;
}
ul li:hover{
    background-color: chocolate;
}
.outerbox{
    border: solid 1px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
#in1,#in2,#in3{
    border:solid 1px;
    height: 300px;
    z-index: -1;
}
#in1{
    width: 800px;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: 800px 350px;
    animation-name: imgchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes imgchange{
    10%{
        background-image: url(2.jpg);
    }
    20%{
        background-image: url(3.jpg);
    }
    30%{
        background-image: url(4.jpg);
    }
    40%{
        background-image: url(5.jpg);
    }
    50%{
        background-image: url(6.jpg);
    }
    60%{
        background-image: url(7.jpg);
    }
}
#in2,#in3{
    width: 250px;
}
#placebox{
    border: solid 1px;
    height: 400px;
}
#placements{
    text-align: center;
    font-size: 60px;
    color: hwb(252 6% 20%);
}